node_modules
.next
dist
build
.turbo
coverage
.local
__pycache__
.pytest_cache
.mypy_cache
.venv
venv
*.pyc
*.egg-info/
.env
.env.local
.env.*.local
backend/api/.ruff_cache
backend/api/htmlcov
integration/ai-pipeline/.ruff_cache
integration/ai-pipeline/htmlcov
